<div class="container">
  <% @users.each do |user| %>
    <div class= "user_info">
      <div class="img">
        <%= image_tag user.photo, alt: "User Photo", class: "user-photo"%>
      </div>
      <div class="user">
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p><strong>Number of posts: </strong><%= user.posts.count %></p>
      </div>
    </div>     
  <% end %>
</div>

